{% load static %}
{% load custom_tags %}
<article id="post-{{ post.pk }}" class="post">
  <header>
    <div class="post-header-left">
      <img src="" alt="">
      <span class="header-author">{{ post.author }}</span>
    </div>
    <div class="post-header-right">
    </div>
  </header>
  <div class="post-photo-container">
    {% if type == 'list' %}
    <a href="{% url 'post:post_detail' post_pk=post.pk %}">
      <img src="{{ post.photo.url }}" alt="">
    </a>
    {% else %}
      <img src="{{ post.photo.url }}" alt="">
    {% endif %}
  </div>
  <div class="post-bottom">
    <div class="post-btn-container clearfix">
      <div class="btn-left">
        <a href="#">
          <form action="{% url 'post:post_like_toggle' post_pk=post.pk %}" method="POST" class="form-inline">
            {% csrf_token %}
            <button type="submit" class="btn">
              {% if user in post.like_users.all %}
              <img src="{% static 'images/post_like.png' %}" alt="">
              {% else %}
              <img src="{% static 'images/post_unlike.png' %}" alt="">
              {% endif %}
            </button>
          </form>
       </a>
        <a href="#">
          <img src="{% static 'images/post_comment.png' %}" alt="">
        </a>
      </div>
      <div class="btn-right">
        {% if user == post.author %}
        <a href="{% url 'post:post_modify' post_pk=post.pk %}" class="btn">수정하기</a>
        <a href="{% url 'post:post_delete' post_pk=post.pk %}" class="btn">삭제하기</a>
        {% endif %}
      </div>
    </div>
    <p class="comment">
      {% if post.like_users.exists %}
        {% if post.like_users.count > 10 %}
        <span>좋아요 {{ post.like_users.count }}개</span>
        {% else %}
        <span>{{ post.like_users.all|join:', ' }}</span>님이 좋아합니다.
        {% endif %}
      {% else %}
      <span>처음으로 좋아요를 눌러보세요</span>
      {% endif %}
    </p>
    <div class="post-comment-container">
      {% if post.my_comment %}
        {% include 'include/post_comment.html' with comment=post.my_comment style='red' %}
      {% endif %}
      {% for comment in post.comment_set.all %}
        {% if comment != post.my_comment %}
          {% include 'include/post_comment.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <p class="created">{{ post.created_date }}</p>
    <form action="{% url 'post:comment_create' post_pk=post.pk %}?next={{ request.path }}{{ request.GET|query_string }}#post-{{ post.pk }}" method="POST">
      {% csrf_token %}
      {{ comment_form.content }}
    </form>
  </div>
</article>
