{% extends 'common/base.html' %}

{% block content %}

<div class="content">

    <form action="">
        <input type="text" name="q" placeholder="YouTube에서 검색할키워드">
    </form>


    {% for item in youtube_keyword %}
    <div>
        <li><img width="200" height="100" src="{{ item.video_thumbnail.url }}" alt=""></li>

        <p>{{ item.title }}</p>
        <!--<li>-->
            <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/{{ item.video_id }}"></iframe>-->
        <!--</li>-->
    </div>
    <input type="text" type="hidden" name="video_id" value="{{ video.pk }}">
    <button type="submit" class="btn">포스팅하기</button>

    {% endfor %}

</div>


{% endblock %}